:root{
    --main: #F8E8D8;
    --tiki: #C8684D;
    --moon: #F4EFED;
    --merlot: #7f171f;
    --dive: #027a76;
    --links: #AD5058;

}

/* carrossel */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#carouselExample {
    width: 70%;
    margin: auto; 
}

/* infos */
#info{
    display: flex;
    flex-direction: row;
    margin: 70px 30px;
    justify-content: center;
    gap: 50px;
}

#info h2{
    text-align: center;
    color: var(--merlot);
}

#contato{
    margin-left: 50px;
    
}

.contato-info{
    font-size: 17px;
}

.list-group {
    margin-top: 70px;
}

#insta{
    color: var(--dive);
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
