/* header */
:root{
    --main: #F8E8D8;
    --tiki: #C8684D;
    --moon: #F4EFED;
    --merlot: #7f171f;
    --dive: #027a76;
    --links: #AD5058;
}
.nav-a{
    color: var(--links) !important;
    margin-top: 20px;
}

.item-header{
    font-size: 20px; 
    font-weight: bold;
} 
nav{
    background-color: var(--main);
    padding-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* footer */
#submit-btn{
    background-color: var(--dive);
    border: var(--dive);
}

footer .container{
    margin-left: 25%;
}

footer{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}